{% extends "base.html" %}

{% block page_content %}
<!--
<form action="{% url 'searchresults' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Main Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {#	<link rel="stylesheet" type="text/css" href="{% static '/css/main.html' %}">#}

</head>

<body>
  {%  include 'navbar.html' %}
  <div class="container-fluid">
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
<p class="text-lg-left" style="font-size:160%;">Facility: {{facility.name}}</p>
<p class="text-left" style="font-size:160%;">Date: {{facility.date}}</p>
<!--
<h1>Data</h1>

<form action="" method="post">
  {% csrf_token %}
  {{ form_as_table }}
  <input type="submit" value="Submit" />
</form>
-->
<form action="" method="post">
  {% csrf_token %}
<h1>Data</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Gender</th>
      <th scope="col">Open Medicaid Beds</th>
      <th scope="col">Open Medicare Beds</th>
      <th scope="col">Open Private Pay Beds</th>
      <th scope="col">Open Dementia Beds</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Female</td>
      <td>{{form.female_medicaid}}</td>
      <td>{{form.female_medicare}}</td>
      <td>{{form.female_private}}</td>
      <td>{{form.female_dementia}}</td>
    </tr>
    <tr>
      <td>Male</td>
      <td>{{form.male_medicaid}}</td>
      <td>{{form.male_medicare}}</td>
      <td>{{form.male_private}}</td>
      <td>{{form.male_dementia}}</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" type="submit">Submit</button>

<button class="btn btn-secondary" type="submit" name='cancel'>Cancel</button>

{% endblock %}

