{% extends "base.html" %}

{% block page_content %}


<a href="{% url 'new' %}" class="btn btn-primary btn-lg active" role="button">Insert new data</a>

<form action="{% url 'searchresults' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>

<h1>Facility</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Gender</th>
      <th scope="col">Medicaid Beds</th>
      <th scope="col"> Medicare Beds</th>
      <th scope="col"> Private Pay Beds</th>
      <th scope="col"> Dementia Beds</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{female.gender}}</td>
      <td>{{female.female_medicaid}}</td>
      <td>{{female.female_medicare}}</td>
      <td>{{female.female_private}}</td>
      <td>{{female.female_dementia}}</td>
    </tr>
  </tbody>
</table>



{% endblock %}