{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>



<body>
welcome!!!!

</body>

</html>



































</html>

{#---------------------------old code-----------------------------#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{##}
{#    <title>#}
{#        Voyce-we enpower and educate#}
{#    </title>#}
{#    <!-- Bootstrap CSS -->#}
{#    <link rel="stylesheet" href="static/bootstrap.min.static">#}
{#	<link rel="stylesheet" href='../static/styles.css'>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"#}
{#          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
{#</head>#}
{##}
{#<header>#}
{#    <nav id="header-nav" class="navbar navbar-default">#}
{#		<div class="container">#}
{#			<div class="navbar-header">#}
{#				<a href="home.html" class="pull-left visible-md visible-lg">#}
{#					<div id="logo-img" alt="Logo image"></div>#}
{#				</a>#}
{#				<div class="navbar-brand">#}
{#					<a href="home">#}
{#						<h1>VOYCE</h1>#}
{#                        <h4 id="logan">WE ENPOWER AND EDUCATE</h4>#}
{#					</a>#}
{#				</div>#}
{##}
{#			</div>#}
{#		</div>#}
{#        <input type="search" value="">#}
{#        <button type="submit" value="search"></button>#}
{#	</nav>#}
{#</header>#}
{##}
{#<body>#}
{#{% block content %}#}
{#<h3>change the database</h3>#}
{#<form method="POST" enctype="multipart/form-data">#}
{#{% csrf_token %}#}
{#<input type="file" name="document">#}
{#<button type="submit">Upload File</button>#}
{##}
{#</form>#}
{#{% endblock %}#}
{##}
{#<span>#}
{#    <label>bed number</label>#}
{#    <input type="text" value="">#}
{#    <input type="button" value="submit">#}
{#</span>#}
{##}
{#<h3>show the database</h3>#}
{#<form method="POST" enctype="multipart/form-data">#}
{#{% csrf_token %}#}
{#<input type="file" name="document">#}
{#<button type="submit">Upload File</button>#}
{#</form>#}
{#based on schema of database#}
{##}
{#<table>#}
{#    <tr>#}
{#    <th>Facilty Name</th>#}
{#    <th>Facilty Type</th>#}
{#    <th>Number</th>#}
{#  </tr>#}
{#    <tr>#}
{#    <td>St.louis</td>#}
{#    <td>Bed</td>#}
{#    <td>50</td>#}
{#  </tr>#}
{#</table>#}
{#{% block content%}#}
{#<div id="uploaddata">#}
{#    <form method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Upload</button>#}
{#  </form>#}
{#</div>#}
{##}
{##}
{#{% endblock %}#}
{#</body>#}
