<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        <div class="control">
        <label class="kn-label" for="username">Email</label>
        <input class="input" tabindex="1" id="email" name="email" type="email" value="">
      </div>
        <div class="control">
        <label class="kn-label" for="password">
          Password
        </label>
        <input class="input" tabindex="2" id="password" name="password" type="password" value="">
        </div>

        <div class="control">
        <label class="kn-label" for="password">
          Confirm Password
        </label>
        <input class="input" tabindex="2" id="password_conf" name="password_conf" type="password" value="">
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>