{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
{% block page_content %}

<html lang="en" style="overflow: hidden auto;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=160, maximum-scale=1, user-scalable = no">
<meta name="robots" content="noindex">
<link rel="apple-touch-icon" href="https://cdn1.cloud-database.co/renderer/img/knack-logo-114.png">
<meta name="apple-mobile-web-app-capable" content="yes">
{#<link rel="manifest" href="/manifest.json">#}
<!--[if lt IE 9]>
<script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
    <title>Voyce Signup</title>
{#    <script type="text/javascript">knack_production_mode='production';#}
{#app_id='5ea7759fc9ffcb001591691d';#}
{#region='us-east';#}
{#api_domain='knack.com';#}
{#cdn_url='https://cdn1.cloud-database.co';#}
{#assets='cdn.cloud-database.co';#}
{#api_subdomain='us-api';#}
{#s3='{"domain":"s3.amazonaws.com","bucket":"assets.knackhq.com"}';s3_secure='{"domain":"s3.amazonaws.com","bucket":"cdn.cloud-database.co"}';#}
{#client_sha='566a62b954debc6ede2dbe212474be311016c46f';#}
{#socket_url='https://sockets.knack.com';#}
{#use_multiple_api_subdomains='false';</script>#}
{#    <script src="https://cdn1.cloud-database.co/namespace/scripts/k_566a62b954debc6ede2dbe212474be311016c46f.js"></script>#}
    <link href="https://cdn1.cloud-database.co/renderer/css/jquery.fancybox-1.3.4.css" rel="stylesheet" class="lazyload" charset="utf-8">
    <link href="https://cdn1.cloud-database.co/renderer/css/v2/renderer_566a62b954debc6ede2dbe212474be311016c46f.v2.min.css" rel="stylesheet" class="lazyload" charset="utf-8">
    <link href="https://cdn1.cloud-database.co/renderer/css/fonts.css" rel="stylesheet" class="lazyload" charset="utf-8">
    <link href="https://cdn1.cloud-database.co/renderer/css/v2/themes/theme-kn-beta_566a62b954debc6ede2dbe212474be311016c46f.min.css" rel="stylesheet" class="lazyload" charset="utf-8">

    <link rel="stylesheet" href='../static/signup_styles.css'>
{#<body id="knack-body" data-gr-c-s-loaded="true">#}
<body id="knack-body" data-gr-c-s-loaded="true">
<div id="knack-dist_1" class="kn-content">
    <header id="kn-app-header">
  <div class="kn-container">


    <div id="kn-app-mobile-container">
      <h1 id="knack-logo" style="">
        <a href="#facility-status-samples" class="kn-title" address="true">VOYCE</a>
      </h1>
        <div>
        <img id = "logo-img" src="../static/images/voyce-logo.jpg" alt="">
        </div>
      <div class="kn-mobile-controls">
        <label class="kn-mobile-nav-toggle" for="menu-show-dropdown">
          <i class="fa fa-bars"></i>
        </label>
        <input type="checkbox" id="menu-show-dropdown">
      </div>
    </div>

    <section id="app-menu-container">
      <div class="kn-menu-arrow is-left"></div>
      <div id="kn-app-menu" style="display: none;"><div class="kn-navigation-bar">

{#    <nav class="buttons is-nav">#}
{##}
{#    <ul id="app-menu-list">#}
{##}
{#          <li><a href="#home" data-kn-slug="#home"><span>Orders</span></a></li>#}
{##}
{#    </ul>#}
{#  </nav>#}
</div>
</div> <!-- Injected by SceneView.js -->
      <div class="kn-menu-arrow is-right"></div>
    </section>
  </div>
</header>

<div class="kn-info-bar" style="display: none;">
  <div class="kn-info kn-container">
      <div class="kn-crumbtrail" style="visibility: hidden;">

    <a href="#facility-status-samples?" address="true">Facility Status Samples</a>

</div>

</div>


</div> <!-- .kn-info appended to via SceneView.js -->
</div>

<div id="kn-loading-spinner" style="display: none;"></div>

<a name="kn-scenes-top"></a>
<div class="kn-scenes kn-section"><div class="kn-scene kn-container" id="kn-scene_11" style="display: block;">
    <div class="kn-register kn-form kn-view" id="register_all_users">
  <div class="view-header">

      <h2 class="kn-title">Sign Up</h2>


      <p class="kn-description">Please register</p>

  </div>


  <div class="kn-form-confirmation" style="display: none">
    <div class="kn-message success">
      <p></p>
    </div>
    <a href="#" class="kn-form-reload button">
      <span class="icon is-small"><i class="fa fa-refresh"></i></span>
      <span>Reload form</span>
    </a>
  </div>

  <form action="#" method="post" novalidate="">
{% csrf_token %}

<ul class="kn-form-group columns kn-form-group-1"><li class="kn-form-col column is-constrained">
    <div class="kn-input kn-input-name control" id="kn-input-field_53" data-input-id="field_53">
<label for="field_53" class="label kn-label"><span>City</span> <span class="kn-required">*</span></label>
        <p class="control">
      <input class="input" id="city" name="city" type="text" value="" placeholder="City">
    </p>
<label for="field_53" class="label kn-label"><span>Facility</span> <span class="kn-required">*</span></label>
<p class="control">
      <input class="input" id="facility" name="facility" type="text" value="" placeholder="Facility">
    </p>

      <label for="field_53" class="label kn-label"><span>Full Name</span> <span class="kn-required">*</span></label>



<div class="control is-grouped">

    <p class="control is-expanded">
      <input class="input" id="first_name" name="first_name" type="text" value="" placeholder="First name">
    </p>

  <p class="control is-expanded">
    <input class="input" id="last_name" name="last_name" type="text" value="" placeholder="Last name">
  </p>
  <input name="key" type="hidden" value="field_53">
</div>

      <p class="kn-instructions" style="display: none;"></p>
  </div>

    <div class="kn-input kn-input-email control" id="kn-input-field_54" data-input-id="field_username">

      <label for="field_username" class="label kn-label"><span>Username</span> <span class="kn-required">*</span></label>
<div class="control">

    <input class="input" id="field_username" name="user_name" type="text"  value="">

{#  <input name="key" type="hidden" value="field_54">#}
</div>

      <p class="kn-instructions" style="display: none;"></p>
  </div>

    <div class="kn-input kn-input-email control" id="kn-input-field_54" data-input-id="field_54">

      <label for="field_54" class="label kn-label"><span>Email</span> <span class="kn-required">*</span></label>
<div class="control">

    <input class="input" id="field_54" name="email" type="email"  value="">


{#  <input name="key" type="hidden" value="field_54">#}
</div>

      <p class="kn-instructions" style="display: none;"></p>
  </div>

    <div class="kn-input kn-input-password control" id="kn-input-field_55" data-input-id="field_55">

      <label for="field_55" class="label kn-label"><span>Password</span> <span class="kn-required">*</span></label>


<div class="control">
  <input name="key" type="hidden" value="field_55" class="input">
  <div class="control">
    <input class="input" name="user_password" type="password" placeholder="Password">
  </div>

    <div class="control">
      <input name="password_confirmation" type="password" placeholder="Confirm Password" class="input">
    </div>

</div>
      <p class="kn-instructions" style="display: none;"></p>
  </div>

</li></ul>


  <div class="kn-submit">

    <input name="view_key" type="hidden" value="view_39">
    <input name="view_name" type="hidden" value="Accounts Registration">

    <button class="kn-button is-primary" type="submit">
      Submit
    </button>
  </div>
</form>

</div>
    <div class="kn-view kn-back-link">
    <a href="../" class="ang-link" address="true">Back to Login page</a></div></div>
</div>

<div id="kn-popover"></div>
<div id="kn-overlay" class="overlay"></div>
<section id="kn-mobile-menu" class="">
{#    <ul id="app-menu-list-mobile" class="kn-menu-list">#}
{##}
{#          <li><a href="#home" data-kn-slug="#home"><span>Orders</span></a></li>#}
{##}
{#    </ul>#}
</section>
</div><div id="fancybox-tmp"></div>
<div id="fancybox-loading"><div></div></div>
<div id="fancybox-overlay"></div>
<div id="fancybox-wrap">
    <div id="fancybox-outer">
        <div class="fancybox-bg" id="fancybox-bg-n"></div>
        <div class="fancybox-bg" id="fancybox-bg-ne"></div>
        <div class="fancybox-bg" id="fancybox-bg-e"></div>
        <div class="fancybox-bg" id="fancybox-bg-se"></div>
        <div class="fancybox-bg" id="fancybox-bg-s"></div>
        <div class="fancybox-bg" id="fancybox-bg-sw"></div>
        <div class="fancybox-bg" id="fancybox-bg-w"></div>
        <div class="fancybox-bg" id="fancybox-bg-nw"></div>
        <div id="fancybox-content"></div>
        <a id="fancybox-close"></a>
        <div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left">
        <span class="fancy-ico" id="fancybox-left-ico"></span>
    </a>
        <a href="javascript:;" id="fancybox-right">
            <span class="fancy-ico" id="fancybox-right-ico"></span>
        </a></div>
</div>
{#<iframe name="easyXDM_default5542_provider" id="easyXDM_default5542_provider" src="https://us-east-1-renderer-read.knack.com/api/xdc.html?xdm_e=https%3A%2F%2Fwustl.knack.com&amp;xdm_c=default5542&amp;xdm_p=1" frameborder="0" style="position: absolute; top: -2000px; visibility: hidden; left: 0px;"></iframe>#}
{#<iframe name="easyXDM_default5543_provider" id="easyXDM_default5543_provider" src="https://us-east-1-renderer-write.knack.com/api/xdc.html?xdm_e=https%3A%2F%2Fwustl.knack.com&amp;xdm_c=default5543&amp;xdm_p=1" frameborder="0" style="position: absolute; top: -2000px; visibility: hidden; left: 0px;"></iframe>#}
</body>
</html>
{% endblock %}
