{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>


<body>
welcome!!!
{##}
{#<h1>{{ objects.user_name }}</h1>#}
{#<h1>{{ objects.email }}</h1>#}
{#<h1>{{ objects.first_name }}</h1>#}
{#<h1>{{ objects.last_name }}</h1>#}
{#<h1>{{ objects.user_password }}</h1>#}
{#<h1>{{ created }}</h1>#}
<table>
    <tr>
        <th>Facility_Name</th>
        <th>As_of</th>
        <th>Open_Female_Medicaid_Beds</th>
        <th>Open_Male_Medicaid_Beds</th>
        <th>Open_Female_Medicare_Beds</th>
        <th>Open_Male_Medicare_Beds</th>
        <th>Open_Female_Private_Pay_Beds</th>
        <th>Open_Male_Private_Pay_Beds</th>
        <th>Open_Female_Dementia_Beds</th>
        <th>Open_Male_Dementia_Beds</th>
        <th>Notes</th>
    </tr>
    {% for item in objects %}
    <tr>
        <td>{{ item.Facility_Name}}</td>
        <td>{{ item.As_of}}</td>
        <td>{{ item.Open_Female_Medicaid_Beds}}</td>
        <td>{{ item.Open_Male_Medicaid_Beds}}</td>
        <td>{{ item.Open_Female_Medicare_Beds}}</td>
        <td>{{ item.Open_Male_Medicare_Beds}}</td>
        <td>{{ item.Open_Female_Private_Pay_Beds}}</td>
        <td>{{ item.Open_Male_Private_Pay_Beds}}</td>
        <td>{{ item.Open_Female_Dementia_Beds}}</td>
        <td>{{ item.Open_Male_Dementia_Beds}}</td>
        <td>{{ item.Notes}}</td>
    </tr>
    {% endfor %}
</table>

</body>

</html>