#logo-img {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
    height: 100px;
    width:100px;
}

#knack-body #kn-app-header {
  background-color: #F3AD40;
}

.kn-modal>h1 {
  background-color: #F3AD40 !important;
}

.kn-menu-arrow.is-right:before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #F3AD40);
}

.kn-menu-arrow.is-left:before {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #F3AD40);
}

#kn-app-menu nav.tabs li.is-active a {
  color: #F3AD40 !important;
}
#kn-app-header,
#knack-logo .kn-title {
  color: #ffffff;
}
.kn-modal>h1 {
  color: #ffffff !important;
}
.kn-content a {
  color: #F3AD40;
}
#forgot-pass{
  margin-left:10px;
}
.kn-content .link-hover-color:hover {
  color: #F3AD40;
}

.kn-button.is-link {
  color: #F3AD40;
}

.kn-menu .kn-button {
  color: #F3AD40;
}

.tabs.is-toggle .is-active a {

  color: #F3AD40;
}
/*#07467c*/
.tabs.is-toggle a {
  color: #F3AD40;
}

.tabs a:hover {
  color: #F3AD40;
}

/*17427a*/
.kn-navigation-bar a {
  background-color: #F3AD40;
}

.kn-navigation-bar a:hover {
  background-color: #F3AD40 !important;
}

.kn-navigation-bar .is-active a {
  background-color: #F3AD40;
}

.is-primary {
  background-color: #F3AD40 !important;
}

.select:after {
  border-color: #F3AD40;
}

.kn-button.is-active a {
  background-color: #F3AD40;
}

.kn-button.is-active a {
  border-color: #F3AD40 !important;
}

.kn-button.is-primary:hover,
.kn-navigation-bar a:hover {
  background-color: #123562;
  border-color: #123562;
}

.fc-state-active {
  border-color: #F3AD40 !important;
}

.kn-menu-list a {
  border-color: #F3AD40 !important;
}

.kn-menu-list li.is-primary {
  background-color: #F3AD40 !important;
}

#app-menu-list-mobile li.is-active {
  background-color: #F3AD40;
}
#knack-body .input:focus {
  border-color: #0F2B4F;
}
.kn-navigation-bar a {
  color: #ffffff !important;
}

.kn-navigation-bar a:hover {
  color: #ffffff !important;
}

.is-primary {
  color: #ffffff !important;
}

.is-active a {
  color: #ffffff;
}

.kn-menu a {
  color: #ffffff;
}

.kn-button.is-loading:after {
  border-color: transparent transparent #ffffff #ffffff !important;
}