#knack-body #kn-app-header {
      background-color: #07467c;
    }

    .kn-modal>h1 {
      background-color: #07467c !important;
    }

    .kn-menu-arrow.is-right:before {
      background: linear-gradient(to right, rgba(255, 255, 255, 0), #07467c);
    }

    .kn-menu-arrow.is-left:before {
      background: linear-gradient(to left, rgba(255, 255, 255, 0), #07467c);
    }

    #kn-app-menu nav.tabs li.is-active a {
      color: #07467c !important;
    }
    #kn-app-header,
    #knack-logo .kn-title {
      color: #ffffff;
    }
    .kn-modal>h1 {
      color: #ffffff !important;
    }
    .kn-content a {
      color: #07467c;
    }

    .kn-content .link-hover-color:hover {
      color: #07467c;
    }

    .kn-button.is-link {
      color: #07467c;
    }

    .kn-menu .kn-button {
      color: #07467c;
    }

    .tabs.is-toggle .is-active a {
      color: #07467c;
    }

    .tabs.is-toggle a {
      color: #07467c;
    }

    .tabs a:hover {
      color: #07467c;
    }
    .kn-navigation-bar a {
      background-color: #17427a;
    }
    .kn-navigation-bar a:hover {
      background-color: #123562 !important;
    }

    .kn-navigation-bar .is-active a {
      background-color: #123562;
    }

    .is-primary {
      background-color: #17427a !important;
    }

    .select:after {
      border-color: #17427a;
    }

    .kn-button.is-active a {
      background-color: #17427a;
    }

    .kn-button.is-active a {
      border-color: #17427a !important;
    }

    .kn-button.is-primary:hover,
    .kn-navigation-bar a:hover {
      background-color: #123562;
      border-color: #123562;
    }

    .fc-state-active {
      border-color: #17427a !important;
    }

    .kn-menu-list a {
      border-color: #17427a !important;
    }

    .kn-menu-list li.is-primary {
      background-color: #17427a !important;
    }

    #app-menu-list-mobile li.is-active {
      background-color: #17427a;
    }
    #knack-body .input:focus {
      border-color: #0F2B4F;
    }
    .kn-navigation-bar a {
      color: #ffffff !important;
    }

    .kn-navigation-bar a:hover {
      color: #ffffff !important;
    }

    .is-primary {
      color: #ffffff !important;
    }

    .is-active a {
      color: #ffffff;
    }

    .kn-menu a {
      color: #ffffff;
    }

    .kn-button.is-loading:after {
      border-color: transparent transparent #ffffff #ffffff !important;}